<div class="novels-container mx-auto p-4">
  <!-- Header Section -->
  <div class="header-section flex justify-between items-center border-b border-custom-gray pb-4">
    <div>
      <h1 class="title text-3xl font-extrabold text-primary">Novels</h1>
      <p class="description text-sm text-secondary">
        Quản lý novels bằng cách thêm, xóa.
      </p>
    </div>
    <div>
      <button class="create-btn btn-primary me-5" routerLink="/admin-novel-create">
        Create Novel
      </button>
      <button class="create-btn btn-primary" routerLink="/admin-genre-create">
        Create Categories
      </button>
    </div>
  </div>

  <!-- Data Table -->
  <div *ngIf="novelsQuery.isSuccess() && novelsQuery.data() && novelsQuery.data()!.length > 0; else noNovels" class="table-container mt-6">
    <div class="table-wrapper overflow-x-auto shadow rounded-lg border border-custom-gray">
      <table class="data-table table-auto w-full bg-white">
        <thead class="table-header bg-light-gray">
        <tr class="header-row text-left text-secondary font-medium">
          <th class="header-cell py-3 px-4">#</th>
          <th class="header-cell py-3 px-4">Title</th>
          <th class="header-cell py-3 px-4">Public Id</th>
          <th class="header-cell py-3 px-4">Author</th>
          <th class="header-cell py-3 px-4">Genres</th>
          <th class="header-cell py-3 px-4">Ranking</th>
          <th class="header-cell py-3 px-4">Cover</th>
          <th class="header-cell py-3 px-4">Views</th>
          <th class="header-cell py-3 px-4">Summary</th>
          <th class="header-cell py-3 px-4">Published Date</th>
          <th class="header-cell py-3 px-4 text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr *ngFor="let novel of novelsQuery.data() || []; index as i" class="body-row hover:bg-hover-gray border-b border-custom-gray">
          <td class="body-cell py-3 px-4">{{ i + 1 }}</td>
          <td class="body-cell py-3 px-4 max-w-20 overflow-ellipsis whitespace-nowrap overflow-hidden">
            <a class="link" [routerLink]="['/novel', novel.publicId]">{{ novel.title }}</a>
          </td>
          <td class="body-cell py-3 px-4">{{ novel.publicId }}</td>
          <td class="body-cell py-3 px-4">{{ novel.authName || 'N/A' }}</td>
          <td class="body-cell py-3 px-4">
            <ng-container *ngIf="novel.genres?.length > 0; else noGenres">
                <span *ngFor="let g of novel.genres; let last = last">
                  {{ g.name }}<span *ngIf="!last">, </span>
                </span>
            </ng-container>
            <ng-template #noGenres>N/A</ng-template>
          </td>
          <td class="body-cell py-3 px-4">{{ novel.ranking || 'N/A' }}</td>
          <td class="body-cell py-3 px-4">{{ novel.cover || 'N/A' }}</td>
          <td class="body-cell py-3 px-4">{{ novel.views || 0 }}</td>
          <td class="body-cell py-3 px-4">{{ novel.description || 'No summary available' }}</td>
          <td class="body-cell py-3 px-4">
            {{ novel.publishedDate ? (novel.publishedDate | date: 'mediumDate') : 'N/A' }}
          </td>
          <td class="body-cell py-3 px-4 text-center">
            <button (click)="deleteNovel(novel.publicId)" class="delete-btn btn-danger transition hover:bg-red-600">
              Delete
            </button>
            <button (click)="deleteNovel(novel.publicId)" class="delete-btn btn-danger transition hover:bg-red-600">
              Edit
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- No Data Template -->
  <ng-template #noNovels>
    <div class="no-data text-center mt-10">
      <fa-icon [icon]="['fas', 'folder-open']" size="4x" class="icon text-gray-300"></fa-icon>
      <p class="message text-secondary text-lg mt-4">No novels available.</p>
    </div>
  </ng-template>
</div>
