<div class="categories-container mx-auto p-4">
  <!-- Header Section -->
  <div class="header-section flex justify-between items-center border-b border-custom-gray pb-4">
    <div>
      <h1 class="title text-3xl font-extrabold text-primary">Genres</h1>
      <p class="description text-sm text-secondary">
       Quản lí genres bằng cách thêm, xóa.
      </p>
    </div>
    <button class="create-btn btn-primary" routerLink="/admin-genre-create">Create Genre</button>
  </div>

  <!-- Data Table -->
  <div *ngIf="genresQuery.isSuccess() && genresQuery.data()?.length !== 0; else noData" class="table-container mt-6">
    <div class="table-wrapper overflow-x-auto shadow rounded-lg border border-custom-gray">
      <table class="data-table table-auto w-full bg-white">
        <thead class="table-header bg-light-gray">
        <tr class="header-row text-left text-secondary font-medium">
          <th class="header-cell py-3 px-4">#</th>
          <th class="header-cell py-3 px-4">Public Id</th>
          <th class="header-cell py-3 px-4">Name</th>
          <th class="header-cell py-3 px-4 text-center">Actions</th>
        </tr>
        </thead>
        <tbody class="table-body">
        <tr *ngFor="let genre of genresQuery.data(); let i = index; trackBy: trackByPublicId"
            class="body-row hover:bg-hover-gray border-b border-custom-gray">
          <td class="body-cell py-3 px-4">{{ i + 1 }}</td>
          <td class="body-cell py-3 px-4">{{ genre.publicId || 'N/A' }}</td>
          <td class="body-cell py-3 px-4">{{ genre.name || 'Unnamed Category' }}</td>
          <td class="body-cell py-3 px-4 text-center">
            <button (click)="deleteGenre(genre.publicId)"
                    class="delete-btn btn-danger transition hover:bg-red-600">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- No Data Template -->
  <ng-template #noData>
    <div class="no-data text-center mt-10">
      <fa-icon [icon]="['fas', 'folder-open']" size="4x" class="icon text-gray-300"></fa-icon>
      <p class="message text-secondary text-lg mt-4">No genres available.</p>
    </div>
  </ng-template>

  <!-- Loading Spinner -->
  <ng-template #loading>
    <div class="loading-spinner flex justify-center mt-10">
      <span class="spinner loading-lg"></span>
    </div>
  </ng-template>

  <!-- Error Notification -->
  <ng-template #error>
    <div class="error-alert text-center mt-10">
      <fa-icon [icon]="['fas', 'circle-exclamation']" size="2x" class="icon text-error"></fa-icon>
      <p class="message text-error mt-4">
        Error! Failed to load genres. Please try again later.
      </p>
    </div>
  </ng-template>
</div>
