<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="navbar-container">
  <div class="logo">
    <a href="/" class="logo-link">
      <img src="/logo.jpg" alt="Logo" />
    </a>
  </div>
  <div class="navbar">
    <div class="left-section">
      <div class="nav-buttons">
        <a routerLink="/">
        </a>

        <button routerLink="/search"><i class="fas fa-search"></i> Search</button>
        <button><i class="fas fa-th-large"></i> Browse</button>
        <button routerLink="/ranking"><i class="fas fa-gem"></i> Ranking</button>
        <button routerLink="/chat"><i class="fas fa-book-open"></i> Thảo luận</button>
        <button><i class="fas fa-filter"></i> Filter</button>
        <button (click)="toggleMode()" class="theme-toggle-btn">

          <ng-container *ngIf="isDarkMode; else lightModeIcon">
            <!-- Icon mặt trăng cho chế độ tối -->
            🌙 Dark
          </ng-container>
          <ng-template #lightModeIcon>
            <!-- Icon mặt trời cho chế độ sáng -->
            ☀️Light
          </ng-template>
        </button>
      </div>
    </div>
    <div class="otp">
      <ng-container *ngIf="isConnected(); else signInTemplate">
        <!-- Biểu tượng người -->
        <details [open]="isUserMenuOpen" class="user-menu">
          <summary><i class="fas fa-user"></i></summary>
          <ul class="z-30">
           <div class ="usernamedecor"><li>{{ userInfo?.username }}</li></div>
    <li><a routerLink="/profile"><i class="fas fa-user-circle"></i> Profile</a></li>
            <li><a routerLink="settings"><i class="fas fa-cogs"></i> Settings</a></li>
            <li> <a (click)="navigateToAuthorPage()">
              <i class="fas fa-book-open"></i> Author
            </a></li>
            <li><a  (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>

          </ul>
        </details>
      </ng-container>
      <ng-template #signInTemplate>
        <!-- Hiển thị nút Sign In khi chưa đăng nhập -->
        <button class="sign-in" (click)="logintype()">Sign In</button>
      </ng-template>
    </div>
    <div *ngIf="isAdmin()">
      <a routerLink="admin-dashboard" class="admin-button">
        Admin
      </a>
    </div>






    <details [open]="isOptionMenuOpen" class= "option-menu">
      <summary><i class="fas fa-bars"></i></summary>
      <ul class="z-30">
        <li>
          <a routerLink="admin/categories/list"
             ><i class="fas fa-search"></i> Search</a>
        </li>
        <li>
          <a routerLink="admin/products/list"
             ><i class="fas fa-th-large"></i> Browse</a>
        </li>
        <li>
          <a routerLink="admin/orders/list"
             ><i class="fas fa-gem"></i> Ranking</a>
        </li>
        <li>
          <a routerLink="admin/orders/list"
             ><i class="fas fa-book-open"></i> Thảo luận</a>
        </li>
        <li>
          <a routerLink="admin/orders/list"
             ><i class="fas fa-filter"></i> Filter</a>
        </li>
        <li><a routerLink="settings"><i class="fas fa-book-open"></i> Author</a></li>
        <li>
          <a routerLink="admin/orders/list"
             (click)="toggleMode()" class="theme-toggle-btn" ><ng-container *ngIf="isDarkMode; else lightModeIcon">
            🌙 Dark
          </ng-container>
            <ng-template #lightModeIcon>
              <span style="color: white!important;">☀️ Light</span>
            </ng-template></a>
        </li>
        <li>
          <ng-container *ngIf="isConnected(); else signInTemplate">

                <a routerLink="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </ng-container>
        </li>


      </ul>
    </details>


  </div>
</div>
