.newongoing {
  width: 100%; /* Đảm bảo .newongoing chiếm toàn bộ chiều rộng */
  margin: 0 auto;
  max-width: 1000px; /* Giới hạn tối đa chiều rộng */
  border-top: none;
  align-items: center;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  padding: 0px;
  box-sizing: border-box;
}

.novel-link {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: inherit;        /* Giữ nguyên màu sắc của nội dung */
  display: block;        /* Đảm bảo toàn bộ thẻ card có thể nhấp */
}

.novel-link:hover {
  text-decoration: none; /* Đảm bảo khi hover cũng không có gạch chân */
}

.bar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 0;
}

.new-ongoing-title {
  font-weight: bold;
}

.view-more {
  color: #7d36ec;
  text-decoration: none;
}


