<app-banner></app-banner>

<div class="main-container">
  <div class="content">
    <app-new></app-new>
    <app-novelgrid [novels]="novels"></app-novelgrid>
    <app-ranking></app-ranking>
<!--    <app-rank-title></app-rank-title>-->
<!--    <app-rank-list></app-rank-list>-->
<!--    <app-novelgrid [novels]="novels"></app-novelgrid>-->
  </div>

<!--  &lt;!&ndash; Phần bên phải chiếm không gian trống &ndash;&gt;-->
<!--  <div class="right-side">-->
<!--    <app-event></app-event>-->
<!--  </div>-->
</div>
