<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <a href="/" class="logo-link">
        <img src="/logo.jpg" alt="Logo" />
      </a>
    </div>
    <h1>Welcome to Novel4u</h1>
    <p class="subtitle">Truy cập trang web để thưởng thức những trang truyện miễn phí mỗi ngày </p>
    <p class="maintenance-notice">
      <span class="highlight">Đăng kí thành viên mới với google tạm đóng .</span> Nó sẽ hoạt động lại trong thời gian tới .
    </p>
    <div class="login-button" (click)="login()">
      <i class="fas fa-envelope" ></i> LOG IN WITH EMAIL
    </div>
    <div class="gg-login-button">
      <i class="fab fa-google"></i> LOG IN WITH GOOGLE
    </div>
    <p class="signup-prompt">
      DON'T HAVE AN ACCOUNT? <br>
      <a href="/regiswithemail">SIGN UP</a> WITH YOUR EMAIL ADDRESS.
    </p>
    <div class="footer-links">
      <a href="#">Terms of Service</a> /
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
