<div class="container">
  <form id="createForm" (ngSubmit)="create()" [formGroup]="createForm" class="form-container">
    <h1 class="text-3xl font-bold mb-6 text-center">Create a New Novel</h1>

    <!-- Title -->
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" placeholder="Type title here"
             class="form-input" formControlName="title"
             [class.input-error]="title.invalid && !title.untouched" />
      <div *ngxControlError="title; track:'required'" class="error-text">
        Title is required
      </div>
    </div>

    <!-- Author -->
    <div class="form-group">
      <label for="author" class="form-label">Author</label>
      <input type="text" id="author" placeholder="Type author here"
             class="form-input" formControlName="author"
             [class.input-error]="author.invalid && !author.untouched" />
      <div *ngxControlError="author; track:'required'" class="error-text">
        Author is required
      </div>
    </div>

    <!-- Genres -->
    <div class="form-group">
      <label class="form-label">Genres</label>
      <div class="checkbox-container">
        <ng-container *ngIf="genresQuery.isSuccess() && genresQuery.data()?.length !== 0">
          <div *ngFor="let genre of genresQuery.data(); trackBy: trackByPublicId" class="checkbox-item">
            <input type="checkbox" [id]="genre.publicId"
                   [value]="genre.publicId" (change)="onGenreChange($event)" />
            <label [for]="genre.publicId">{{ genre.name || 'Unknown genre' }}</label>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" placeholder="Type description here"
                class="form-input textarea" formControlName="description"
                [class.input-error]="description.invalid && !description.untouched"></textarea>
      <div *ngxControlError="description; track:'required'" class="error-text">
        Description is required
      </div>
    </div>

    <!-- Pictures -->
    <input type="file" id="pictures" class="form-input" formControlName="picture"
           (change)="onUploadNewPicture($event)"
           />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-full" [disabled]="createForm.invalid || loading">
      <span *ngIf="loading" class="loading-spinner"></span>
      Create Novel
    </button>
  </form>
</div>
